body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


#board{
    display: flex;
    flex-flow: column wrap;
}
.row{
    display: flex;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    /* box-sizing: border-box;
    cursor: pointer; */
    font-size: 3rem;
}
.tile.active{
    background-color: #6382fb;
}
.tile.target{
    background-color: #a0b3ff;
}